<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <customsetting>
            <general>
                <enable>1</enable>
                <title>Magento 2 Products</title>
            </general>
        </customsetting>
    </default>
</config>