<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="futureactivities" translate="label" sortOrder="10">
            <label>Future Activities</label>
        </tab>
        <section id="magento2products" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Filter Settings</label>
            <tab>futureactivities</tab>
            <resource>Magestore_ApiSettings::apisettings_configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="filterableFields" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Filterable Fields</label>
                    <comment>JSON of categories and attributes that will be used in the filter API.</comment>
                </field>
                <field id="behaviour" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Filter Behaviour</label>
                    <source_model>FutureActivities\Products\Model\Config\Source\Behaviour</source_model>
                    <comment><![CDATA[Default behaviour is to update the filters and remove options no longer applicable.<br />
                    Multiple will update the attribute that matches the last filter group based on a collection of products with the last filter group removed - allowing you to select multiple options.]]></comment>
                </field>
                <field id="parentCount" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Count Parents</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>For the product count, return the count of parent products instead of the default count of all child products.</comment>
                </field>
            </group>
        </section>
    </system>
</config>